<html>
  <body>
    <script>
      (function () {
        function recieveMessage(e) {
          console.log("recieveMessage %o", e);
          // send message to main window with da app
          const provider = "github"
          const state = "success"
          window.opener.postMessage(
            `authorization:${provider}:${state}:${JSON.stringify({{content | safe}})}`,
            e.origin,
          );
        }
        window.addEventListener("message", recieveMessage, false);
        // Start handshare with parent
        console.log("Sending message: %o", "github");
        window.opener.postMessage("authorizing:github", "*");
      })();
    </script>
  </body>
</html>
