{{ define "main" }}
<section class="fullscreen">
  <canvas id="particleCanvas"></canvas>
  <div class="fullscreen-tagline">
    — Enraciner la résilience climatique des territoires en cultivant les
    données.
  </div>
</section>

<!-- Section de contenu avec mise en page à deux colonnes -->
<section class="content">
  <div class="split-section">
    <div class="left flex flex-col mockup-container">
      <a
        href="https://carte.iarbre.fr/"
        rel="noopener noreferrer"
        target="_blank"
      >
        <img
          alt="Mockup du projet IA.rbre"
          class="mockup-image"
          src="/images/mockup.webp"
        />
      </a>

      <div class="flex justify-center" style="margin-bottom: 2rem">
        <a
          class="regular-button"
          href="https://carte.iarbre.fr/"
          rel="noopener noreferrer"
          target="_blank"
        >
          🌳 Testez l'outil à Lyon ➜
        </a>
      </div>
    </div>
    <div class="right">
      <div class="text">
        {{ with .Resources.GetMatch "iarbre.md" }} {{ .Content }} {{ end }}
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="split-section reversed-section">
    <div class="left">
      <img alt="Logo TelesCoop" src="/images/telescoop.png" />
    </div>
    <div class="right">
      <div class="text">
        {{ with .Resources.GetMatch "telescoop.md" }} {{ .Content }} {{ end }}
      </div>
    </div>
  </div>
</section>

<hr class="full-width" />

<section class="content">
  <div class="split-section reversed-section">
    <div class="left">
      <img
        alt="Logo partenaires"
        class="logo-partners"
        src="/images/part.png"
      />
    </div>
    <div class="right">
      <div class="text">
        {{ with .Resources.GetMatch "consortium.md" }} {{ .Content }} {{ end }}
      </div>
    </div>
  </div>
</section>

<section class="newsletter-section" id="newsletter">
  <div class="newsletter-container">
    <form action="{{ .Site.Params.newsletter.formUrl }}" method="post">
      <p>
        <strong>
          Pour suivre l’évolution du projet et participer aux discussions,
          inscrivez-vous aux actualités !
        </strong>
      </p>
      <input
        id="contact_email"
        name="contact[email]"
        placeholder="hello@email.fr"
        type="email"
      />

      <input
        aria-hidden="true"
        autocomplete="off"
        name="h[url]"
        novalidate=""
        style="display: none"
      />
      <div class="flex flex-col">
        <div
          class="h-captcha"
          data-sitekey="{{ .Site.Params.newsletter.captchaKey }}"
          data-theme="light"
        ></div>
        <script async="" defer="" src="https://hcaptcha.com/1/api.js"></script>
      </div>

      <div>
        <input
          class="regular-button"
          type="submit"
          value="Je m'inscris par e-mail"
        />
      </div>
    </form>
  </div>
</section>

<!-- Section des partenaires
<section class="partenaires">
<h2>Partenaires</h2>
<div class="logos">
    <div class="logo-placeholder"></div>
    <div class="logo-placeholder"></div>
    <div class="logo-placeholder"></div>
    <div class="logo-placeholder"></div>
    <div class="logo-placeholder"></div>

</div>
</section> -->

<section class="team">
  <h2>Équipe du projet</h2>
  <div class="team-grid">
    {{ range $member := .Site.Data.team }}
    <div class="team-member">
      <img
        alt="Photo de {{ $member.name }}"
        src="/images/{{ $member.portrait }}"
      />
      <h3>{{ $member.name }}</h3>
      <p class="title">{{ $member.title}}</p>
      <p class="function">{{ $member.function }}</p>
    </div>
    {{ end}}
  </div>
</section>

<section class="bandeau-2030">
  <div class="bandeau-content">
    <div class="bandeau-text">
      <p>
        #France2030 est un plan ambitieux doté de 54 milliards d’euros visant à
        transformer durablement les secteurs clés de l’économie française par
        l’innovation, en soutenant des projets décarbonés et portés par des
        acteurs émergens pour positionner la France comme leader mondial des
        technologies et industries du futur.
      </p>
    </div>
    <div class="bandeau-logo">
      <img alt="Logo 2030" src="/images/2030.png" />
    </div>
  </div>
</section>

<section class="bandeau-cdc">
  <div class="bandeau-content">
    <div class="bandeau-logo">
      <img alt="Logo Caisse des Dépôts" src="/images/cdc.png" />
    </div>
    <div class="bandeau-text">
      <p>
        Ce projet est financé par la <strong>Caisse des Dépôts</strong>, un
        acteur majeur de la transition écologique et du développement des
        territoires. Découvrez plus sur leur engagement
        <a href="https://www.caissedesdepots.fr/" target="_blank">ici</a>.
      </p>
    </div>
  </div>
</section>

{{ end}}
