boto3==1.34.162
coverage==7.6.10
Django==5.2.9
django-anymail[mailgun]==12.0
django-cors-headers==4.4.0
django-extensions==3.2.3
django-filter==25.2
django-storages[s3]==1.14.4
djangorestframework==3.15.2
djangorestframework_camel_case==1.4.2
factory-boy==3.3.1
geopandas==1.0.1
getconf==1.11.0
gunicorn==23.0.0
ipython==8.26.0
mapbox_vector_tile==2.1.0
mercantile==1.2.1
numpy==2.0.1
openpyxl==3.1.5
protobuf==5.29.5
psycopg2==2.9.9
pyproj==3.7.0
rasterio==1.4.3
requests_oauthlib==2.0.0
rollbar==1.1.0
scipy==1.14.1
shapely==2.0.5
telescoop_backup==0.6.2
tqdm==4.66.5
Unidecode==1.4.0
