boto3==1.43.107
coverage==7.16.2
Django==5.2.16
django-anymail[mailgun]==15.2
django-cors-headers==4.9.0
django-extensions==4.1
django-filter==26.1
django-gisserver==2.4.0
django-prometheus==2.5.0
django-storages[s3]==1.14.6
djangorestframework==3.18.1
djangorestframework_camel_case==1.4.2
factory-boy==3.3.3
fiona==1.10.1
geopandas==1.2.0
getconf==1.11.1
gunicorn==26.2.0
humanize==4.16.0
ipython==9.17.1
mapbox_vector_tile==2.2.0
mercantile==1.2.1
numpy==2.5.3
openpyxl==3.1.5
pillow==12.3.0
playwright==1.63.0
protobuf==6.33.6
psycopg2==2.9.13
pyproj==3.8.0
PyYAML==6.0.3
rasterio==1.5.2
requests_oauthlib==2.0.0
rollbar==1.5.0
scipy==1.18.1
shapely==2.1.2
telescoop_backup==0.6.5
tqdm==4.70.1
Unidecode==1.4.0
