backend_application_port: 8031 # must be unique for each project on the same server
frontend_application_port: 3000 # must be unique for each project on the same server
environment_suffix: ""
project_slug: "{{ base_project_slug }}{{ environment_suffix }}"

main_hostname: "carte.iarbre.fr"
public_hostnames:
  - "{{ main_hostname }}"
# hostnames mentioned here are redirected to the main hostname
redirect_hostnames: []

showcase_hostname: "iarbre.fr"
showcase_redirect_hostnames:
  - "www.iarbre.fr"
hugo_build_flags: ""

all_hostnames: "{{ public_hostnames + redirect_hostnames }}"

project_dir: "{{project_base_dir}}{{ environment_suffix }}"
backend_static_path: "{{ project_dir }}/backend_static"
backend_media_path: "{{ project_dir }}/backend_media"

frontend_branch: main
backend_branch: main
showcase_branch: main
docs_branch: main

environment_name: production
