---
- name: Setup and launch django backend
  hosts: all
  vars:
    django_path: "{{ project_dir }}/backend/back"
  handlers:
    - import_tasks: telescoop-deploy/handlers/nginx.yml
  tasks:
    - import_tasks: telescoop-deploy/tasks/create-https-certificate.yml
    - import_tasks: telescoop-deploy/tasks/setup-user-and-directories.yml
    - import_tasks: telescoop-deploy/tasks/setup-and-clone-git.yml
      vars:
        identity_file_path: "{{ backend_identity_file_path }}"
        repo: "{{ backend_repo }}"
        git_track_submodules: false
        clone_path: "{{ django_path }}/../"
        branch: "{{ backend_branch }}"
    - import_tasks: telescoop-deploy/tasks/install-python-venv.yml
      vars:
        requirements: "{{ django_path }}/requirements.txt"
    - name: Install and setup database for prod and preprod only
      block:
        - import_tasks: telescoop-deploy/tasks/install-database.yml
          vars:
            database_password: "{{ vault_database_password }}"

        - name: Install and setup postgis to postgresql
          block:
            - name: Install postgis
              apt:
                name:
                  - postgresql-14-postgis-3
            - name: Adds postgis extension to the database {{ project_slug }}
              community.postgresql.postgresql_ext:
                name: postgis
                login_db: "{{ database_user }}"
              become: true
              become_user: postgres
          when: database_provider == "postgresql"
      when: branch is not defined
    - name: Create symbolic link from feature mvt_files to preprod mvt_files
      file:
        src: "{{ project_base_dir }}_preprod/backend/back/mvt_files"
        dest: "{{ django_path }}/mvt_files"
        state: link
      when: branch is defined

    - import_tasks: telescoop-deploy/tasks/install-and-update-django.yml
      vars:
        django_settings_path: /etc/{{ organization_slug }}/{{ project_slug }}/settings.ini
        django_workers: 1
        dedicated_database: "{{ branch is not defined }}"
        allow_backup: false
        database_password: "{{ vault_database_password }}"
        # If you use custom template, do not name it settings.j2
        template_django_settings_name: "settings-custom.ini.j2"

    - name: Use s3 backup on non-feature branch (iarbre specific)
      block:
        - name: Clear cache
          shell:
            cmd: "{{ project_slug }}-ctl clean_mvt_files && {{ project_slug }}-ctl clear_cache"

        - name: Load database and media
          shell:
            cmd: "{{ project_slug }}-ctl backup_db recover_db_and_media"

        - name: Run migrations with conflict handling
          shell: |
            {{ project_slug }}-ctl migrate || {
              echo "Migration failed, trying fake-initial"
              {{ project_slug }}-ctl migrate --fake-initial
              {{ project_slug }}-ctl migrate
            }
          become: true

      when: branch is not defined and (clonecode.changed or force_update is defined)
