@font-face
  font-family: "Bricolage Grotesque"
  src: url("/fonts/BricolageGrotesque-Regular.otf") format("opentype")


@font-face
  font-family: "Sligoil"
  src: url("/fonts/Sligoil-Micro.otf") format("opentype")

$off-white: #efefed
$dark-green: #32412d
$light-green: #92a48d
$brown: #32312d
$white: #ffffff

$main-font: "Bricolage Grotesque"
$accent-font: "Sligoil"


$scale-0: #dfdfdf
$scale-2: #eff1bf
$scale-4: #ccc688
$scale-6: #b7d98f
$scale-8: #72bc71
$scale-10: #026838
