@font-face {
  font-family: "Bricolage Grotesque";
  src: url("BricolageGrotesque-Regular.otf") format("opentype");
}
body {
  font-family: "Bricolage Grotesque", Arial, sans-serif;
  color: #32312d;
  background-color: #efefed;
  overflow-x: hidden;
}
.md-header {
  background-color: #92a48d;
}
.md-tabs {
  background-color: #92a48d;
}
.md-sidebar {
  background-color: #efefed;
}

.md-grid {
  max-width: 100%;
}
@media (min-width: 1220px) {
  .md-main__inner {
    margin-top: 0;
  }
  .md-nav {
    font-size: 16px;
    color: #efefed;
    background-color: #92a48d;
  }
  .md-nav .md-nav__title {
    display: none;
  }
}
