@import "tailwindcss";
@import "maplibre-gl/dist/maplibre-gl.css";

@font-face {
  font-family: "Bricolage Grotesque";
  src: url("/fonts/BricolageGrotesque-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Sligoil";
  src: url("/fonts/Sligoil-Micro.otf") format("opentype");
}

@theme {
  --color-scale-0: #dfdfdf;
  --color-scale-1: #e7e7cf;
  --color-scale-2: #eff1bf;
  --color-scale-3: #dcdaa2;
  --color-scale-4: #ccc688;
  --color-scale-5: #c2cf8b;
  --color-scale-6: #b7d98f;
  --color-scale-7: #95cb80;
  --color-scale-8: #72bc71;
  --color-scale-9: #3a9254;
  --color-scale-10: #026838;

  --color-off-white: #efefed;
  --color-dark-green: #32412d;
  --color-light-green: #92a48d;
  --color-brown: #32312d;

  --font-sans: "Bricolage Grotesque", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: "Sligoil", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --font-main: var(--font-sans);
}

:root {
  /* Dimensions */
  --header-height: 80px;
  --content-height: calc(100vh - var(--header-height) - 1px);
}

.card {
  @apply bg-white shadow-md rounded-[0.75rem] p-5;
}

.button {
  @apply font-mono text-brown text-base bg-off-white border-none outline-none transition duration-300 hover:text-light-green cursor-pointer;
}
