.maplibregl-ctrl-center {
  @apply flex! justify-center items-center;
}

.maplibregl-ctrl-3d {
  @apply flex! justify-center items-center;
}

.maplibregl-popup {
  @apply z-50;
}

.maplibregl-popup-content {
  border-radius: 10px;
  padding: 10px;
  @apply border-0.5 border-primary-500;
}

.maplibregl-popup-close-button {
  top: 10px;
  right: 10px;
  font-size: 18px;
  @apply h-6 w-6;
  @apply text-primary-500;
  @apply rounded-full;
  @apply transition-colors;
}

.maplibregl-popup-close-button:hover {
  @apply bg-primary-100;
}

.maplibregl-ctrl-attrib-inner,
.maplibregl-ctrl-attrib a {
  @apply text-sm;
  @apply text-primary-500;
  @apply font-accent;
}

.maplibregl-ctrl-attrib-button {
  @apply bg-white!;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23426A45' fill-rule='evenodd' viewBox='0 0 20 20'%3E%3Cpath d='M4 10a6 6 0 1 0 12 0 6 6 0 1 0-12 0m5-3a1 1 0 1 0 2 0 1 1 0 1 0-2 0m0 3a1 1 0 1 1 2 0v3a1 1 0 1 1-2 0'/%3E%3C/svg%3E");
}
