# Generate a deterministic 3-digit number from the branch name
branch_hash: "{{ branch_slug | hash('md5') }}"
unique_number: "{{ (branch_hash | int(0, 16) % 900) + 100 }}"

backend_application_port: "8{{ unique_number }}" # deterministic port based on branch name
frontend_application_port: "3{{ unique_number }}" # deterministic port based on branch name
environment_suffix: "-feature-{{ branch_slug }}"
project_slug: "{{ base_project_slug }}{{ environment_suffix }}"

main_hostname: "feature-{{ branch_slug[:20] }}-carte.iarbre.fr"
public_hostnames:
  - "{{ main_hostname }}"
hugo_build_flags: "--buildDrafts --buildFuture --buildExpired"
use_password: true

# hostnames mentioned here are redirected to the main hostname
redirect_hostnames: []

showcase_hostname: "feature-{{ branch_slug[:20] }}-showcase.iarbre.fr"
showcase_redirect_hostnames: []

all_hostnames: "{{ public_hostnames + redirect_hostnames }}"

project_dir: "{{ project_base_dir }}{{ environment_suffix }}"
backend_static_path: "{{ project_dir }}/backend_static"
backend_media_path: "{{ project_dir }}/backend/back/media"

branch_slug: "{{ branch | replace('/','-') }}"
frontend_branch: "{{ branch }}"
backend_branch: "{{ branch }}"
showcase_branch: "{{ branch }}"

environment_name: "feature-{{ branch_slug }}"

dedicated_database: false
database_env: "{{ branch_slug[:10] if use_specific_db else 'preprod'}}"
database_user: "{{ base_project_slug }}_{{ database_env }}"
database_name: "{{ base_project_slug }}_{{ database_env }}"
