<section class="about-section">
  <div class="container">
    <div class="about-content">
      <div class="about-text">
        <h2 class="section-title">À propos d'IA·rbre</h2>
        <p class="about-description">
          Le projet IA·rbre est une initiative collaborative dédiée à la
          transition écologique menée par un <strong>consortium</strong> comprenant la SCOP
          TelesCoop comme chef de file, la Métropole de Lyon et l’université
          Lyon 2 avec le laboratoire LIRIS.
        </p>
        <p class="about-description">
          En s’appuyant sur des compétences variées, ce projet vise à
          co-développer des outils innovants de production et de visualisation de
          données territoriales pour favoriser la résilience urbaine et
          l’élaboration de politiques publiques locales telles que le PCAET.
          S’étalant sur trois ans, IA·rbre bénéficie d’un financement de la
          Caisse des Dépôts, garantissant les ressources pour atteindre ses
          ambitions.
        </p>
      </div>
      <div class="about-visual">
        <div class="visual-card">
          <img
            alt="Analyse territoriale"
            class="about-image"
            src="/images/trees2.jpg"
          />
          <div class="visual-overlay"></div>
        </div>
      </div>
    </div>

    <div class="consortium-info">
      <h3 class="consortium-title">Un projet collaboratif</h3>
      <p class="consortium-description">
        Le consortium derrière IA·rbre vise à développer des outils pour
        l’adaptation au changement climatique. Cette grande ambition est portée
        en collaboration avec la Métropole de Lyon, le laboratoire LIRIS et
        d’autres partenaires. Le laboratoire Erasme joue un rôle clé en
        coordonnant des projets de co-développement pour pérenniser et
        généraliser les innovations publiques. Nous nous appuyons également sur
        l’expertise de data.grandlyon pour l’accès aux données ouvertes.
      </p>

      <div class="consortium-partners">
        <div class="partner-item">
          <img
            alt="Logo Métropole de lyon"
            class="partner-logo-small"
            src="/images/logo-metropole-lyon.svg"
          />
          <h4>Métropole de Lyon</h4>

          <p>Partenaire institutionnel et fournisseur de données</p>
        </div>
        <div class="partner-item">
          <img
            alt="Logo Laboratoire Érasme"
            class="partner-logo-small"
            src="/images/logo-erasme.jpg"
          />

          <h4>Érasme</h4>
          <p>Laboratoire d'innovation publique de la Métropole de Lyon</p>
        </div>
        <div class="partner-item">
          <img
            alt="Logo Laboratoire LIRIS"
            class="partner-logo-small"
            src="/images/logo-liris.webp"
          />

          <h4>Laboratoire LIRIS</h4>
          <p>
            Le Laboratoire d'InfoRmatique en Image et Systèmes d'information est
            un laboratoire de recherche situé à Lyon.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
