<div class="main-features-section">
  <div class="feature-columns">
    <!-- Colonne de gauche : Visualisation de calques -->
    <div class="feature-column left-column">
      <div class="feature-header">
        <div class="feature-icon-title">
          <div class="">1.</div>
          <h3>Visualisation de calques de données</h3>
        </div>
        <p class="feature-subtitle">
          Explorez les données de plantabilité, vulnérabilité et ZCL (Zone
          Climatique Locale) avec des outils de visualisation interactifs et
          intuitifs.
        </p>
      </div>
    </div>

    <div class="feature-column right-column">
      <div class="feature-header">
        <div class="feature-icon-title">
          <div>2.</div>
          <h3>Croisement de données</h3>
        </div>
        <p class="feature-subtitle">
          Combinez et analysez plusieurs couches de données pour générer des
          insights territoriaux avancés et des recommandations personnalisées.
        </p>
      </div>
    </div>
  </div>
</div>
