<section class="content">
  <div class="split-section">
    <div class="left flex flex-col mockup-container">
      <a
        href="https://carte.iarbre.fr/"
        rel="noopener noreferrer"
        target="_blank"
      >
        <img
          alt="Mockup du projet IA.rbre"
          class="mockup-image"
          src="/images/mockup.webp"
        />
      </a>

      <div class="flex justify-center" style="margin-bottom: 2rem">
        <a
          class="regular-button"
          href="https://carte.iarbre.fr/"
          rel="noopener noreferrer"
          target="_blank"
        >
          Testez l'outil à Lyon
        </a>
      </div>
    </div>
    <div class="right">{{ partial "iarbre-section.html" . }}</div>
  </div>
</section>
