<section class="newsletter-section" id="newsletter">
  <div class="newsletter-container">
    <form action="{{ .Site.Params.newsletter.formUrl }}" method="post">
      <p>
        <strong>
          Pour suivre l'évolution du projet et participer aux discussions,
          inscrivez-vous aux actualités !
        </strong>
      </p>
      <input
        id="contact_email"
        name="contact[email]"
        placeholder="hello@email.fr"
        type="email"
      />

      <input
        aria-hidden="true"
        autocomplete="off"
        name="h[url]"
        novalidate=""
        style="display: none"
      />
      <div class="flex flex-col">
        <div
          class="h-captcha"
          data-sitekey="{{ .Site.Params.newsletter.captchaKey }}"
          data-theme="light"
        ></div>
        <script async="" defer="" src="https://hcaptcha.com/1/api.js"></script>
      </div>

      <div>
        <input
          class="regular-button"
          type="submit"
          value="Je m'inscris par e-mail"
        />
      </div>
    </form>
  </div>
</section>
