<div class="text">
  <p>
    <strong
      >Fondée en 2020
      <a
        href="https://www.telescoop.fr"
        target="_blank"
        rel="noopener noreferrer"
        >TelesCoop</a
      ></strong
    >
    est une <strong>société coopérative</strong> spécialisée dans
    l'accompagnement et le développement de <strong>sites web</strong>,
    d'<strong>outils métier</strong> et d'<strong>applications</strong> basés
    principalement sur des technologies <strong>open-source</strong>. Nous
    sommes <strong>expert·e·s</strong> en <strong>développement web</strong>, en
    <strong>projets data</strong> et en
    <strong>intelligence artificielle</strong>.
  </p>

  <p>
    Unis et engagés autour de valeurs communes – <strong>écologie</strong>,
    <strong>justice sociale</strong>, <strong>sobriété</strong> – nous mettons
    en commun nos expériences individuelles au service d'un
    <strong>projet collectif</strong>.
  </p>
</div>
