name: Deploy Showcase iarbre.fr website

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types:
      - closed
  repository_dispatch:
    types: [content-updated]

jobs:
  deploy-prod:
    if: >
      github.event_name == 'push' ||
      github.event_name == 'repository_dispatch' ||
      (github.event_name == 'pull_request' && github.event.pull_request.merged == true)
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Deploy showcase
        uses: dawidd6/action-ansible-playbook@v2
        with:
          playbook: showcase.yml
          directory: deploy
          vault_password: ${{secrets.ANSIBLE_VAULT_KEY}}
          options: |
            -l prod
            ${{ github.event_name == 'repository_dispatch' && '-e force_update=true' || '' }}
          # if trigerred by dispatch then force_update
          key: ${{ secrets.SSH_PRIVATE_KEY }}
